"on":
    push:
      branches:
        - main
    pull_request:
      branches:
        - main
"jobs":
   test:
      "runs-on": ubuntu-latest
      steps:
        - name: "Checkout code"
          uses: actions/checkout@v2
        - name: "Set up Python environment"
          run: |
            echo "Setting up Python environment"
            python -m venv venv
            source venv/bin/activate
            cd ../../
            pip install -r requeriments.txt
            echo "Environment setup complete"
        - name: "Run tests with coverage"
          run: |
               echo "Running tests with coverage"
               source venv/bin/activate
               pytest tests/ --cov=src --cov-report=xml
               echo "Tests and coverage complete"
        
  


